@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* Base variables */
  --background: #ffffff;
  --foreground: #171717;

  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Warna Utama (Primary) */
  --color-primary-main: #01959F;
  --color-primary-surface: #F3FBFC;
  --color-primary-border: #4DB5BC;
  --color-primary-hover: #01777F;
  --color-primary-pressed: #01595F;

  /* Warna Secondary */
  --color-secondary-main: #FBC037;
  --color-secondary-surface: #FFFCF5;
  --color-secondary-border: #FEEABC;
  --color-secondary-hover: #F8A92F;
  --color-secondary-pressed: #FA9810;

  /* Warna Semantic: Danger */
  --color-danger-main: #E01428;
  --color-danger-surface: #FFF0FA;
  --color-danger-border: #F5B1B7;
  --color-danger-hover: #BC1121;
  --color-danger-pressed: #700A14;

  /* Warna Semantic: Warning */
  --color-warning-main: #CA7336;
  --color-warning-surface: #FCF7F3;
  --color-warning-border: #FEB17B;
  --color-warning-hover: #B1652F;
  --color-warning-pressed: #985628;

  /* Warna Semantic: Success */
  --color-success-main: #43936C;
  --color-success-surface: #F7F7F7;
  --color-success-border: #B8DBCA;
  --color-success-hover: #367A59;
  --color-success-pressed: #20573D;

  /* Warna Neutral */
  --color-neutral-10: #FFFFFF;
  --color-neutral-20: #FAFAFA;
  --color-neutral-30: #EDEDED;
  --color-neutral-40: #E0E0E0;
  --color-neutral-50: #C2C2C2;
  --color-neutral-60: #9E9E9E;
  --color-neutral-70: #757575;
  --color-neutral-80: #616161;
  --color-neutral-90: #404040;
  --color-neutral-100: #1D1F20;

  /* Text XS (10px / 16px) */
  --text-text-xs: 0.625rem;
  --text-text-xs--line-height: 1rem;
  
  /* Text S (12px / 20px) */
  --text-text-s: 0.75rem;
  --text-text-s--line-height: 1.25rem;

  /* Text M (14px / 24px) */
  --text-text-m: 0.875rem;
  --text-text-m--line-height: 1.5rem;

  /* Text L (16px / 28px) */
  --text-text-l: 1rem;
  --text-text-l--line-height: 1.75rem;

  /* Text XL (18px / 28px) */
  --text-xl: 1.125rem;
  --text-xl--line-height: 1.75rem;

  /* Heading S (20px / 32px) */
  --text-heading-s: 1.25rem;
  --text-heading-s--line-height: 2rem;

  /* Heading M (24px / 36px) */
  --text-heading-m: 1.5rem;
  --text-heading-m--line-height: 2.25rem;

  /* Heading L (32px / 44px) */
  --text-heading-l: 2rem;
  --text-heading-l--line-height: 2.75rem;

  /* Display (48px / 64px) */
  --text-display: 3rem;
  --text-display--line-height: 4rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}